@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgba(255, 255, 255, 0.096);
    height: 80px;
    grid-column-start: 1;
    grid-column-end: -1;
}

h1{
    margin: 6rem 2rem;
}

.background-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.404)), url("../assets/background-galaxia.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}

.logo-bank{
    margin:auto;
    width: 120px;
    padding: 5px;
    top: 1rem;
}

.card-container{
    margin: 0 auto;
    padding: 10px;
    width: 300rem;
    height: 35rem;
}

/* .container-checkbalance, .container-depositmoney, .container-withdrawmoney{
    background-color: rgba(255, 255, 255, 0.158);
    margin: 30px;
    padding: 10px;
    width: 350px;
    height: 300px;
    border-radius: 20px;
} */


.glass-effect{
    background-color: rgba(255, 255, 255, 0.364);
    backdrop-filter: blur(4rem);
    -webkit-backdrop-filter: blur(4rem);
}

.container-input{
    width: 18rem;
}

.container-btn{
    display: grid;
    justify-items: center;
}

.btn-primary{
    background-color: rgba(60, 38, 97, 0.553);
    border-color: rgba(60, 38, 97, 0.268);
}

.btn-primary:hover{
    background-color: rgba(60, 38, 97, 0.268);
    border-color: rgba(60, 38, 97, 0.844);
    color: rgba(60, 38, 97);
}

.form-control{
    background-color: rgba(60, 38, 97, 0.053);
    border-color: rgba(60, 38, 97, 0.844);
    color: rgba(60, 38, 97, 0.946);
    height: 45px;
}

.form-control:focus{
    background-color: rgba(60, 38, 97, 0.553);
    border-color: rgba(60, 38, 97, 0.844);
    color: rgba(255, 255, 255);
}