@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.background-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.404)), url("../assets/background-galaxia.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}

nav{
    background-color: #191029e7;
    width: 100%;
    height: 70px;
    display: inline;
    grid-column-start: 1;
    grid-column-end: -1;
}

.welcome{
    margin: 1rem;
    margin-top: 25px;
    padding: 0;
    font-weight: 600;
    font-size: 35px;
    grid-column-start: 1;
    grid-column-end: -1;
}

h2{
    font-weight: 600;
    margin: 0;
}

#check-balance{
    font-size: 30px;
    margin: 0 2px;
}

.logo-bank{
    margin:auto;
    width: 100px;
    padding: 5px;
    position: relative;
    top: 3px;
    left: 30px;
}

.card-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 80px;
}

.glass-effect{
    background-color: rgba(255, 255, 255, 0.364);
}

.illustration-image img{
    width: 40rem;
    margin-top: 20px;
}

.illustration-image{
    grid-column-start: 2;
    grid-column-end: -2;
    grid-row-start: -1;
    grid-row-end: -1;
}

.container-functions{
    background-color: rgba(255, 255, 255, 0.158);
    margin: 15px;
    margin-left: 60px;
    padding: 10px;
    width: 500px;
    height: 430px;
    border-radius: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.container-checkbalance{
    margin: 10px;
}

.btn-primary{
    background-color: rgba(60, 38, 97, 0.553);
    border-color: rgba(60, 38, 97, 0.268);
}

.btn-primary:hover{
    background-color: rgba(60, 38, 97, 0.268);
    border-color: rgba(60, 38, 97, 0.844);
    color: rgba(60, 38, 97);
}

.form-control{
    background-color: rgba(60, 38, 97, 0.053);
    border-color: rgba(60, 38, 97, 0.844);
    color: rgba(60, 38, 97, 0.946);
    height: 45px;
}

.form-control:focus{
    background-color: rgba(60, 38, 97, 0.553);
    border-color: rgba(60, 38, 97, 0.844);
    color: rgba(255, 255, 255);
}

.container-input{
    width: 370px;
    margin: 10px;
    align-items: center;
}

.container-depositmoney, .container-withdrawmoney{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px 1fr;
}

h3{
    margin-left: 10px;
    font-weight: 600;
    grid-column-start: 1;
    grid-column-end: 3;
}

.container-btn{
    margin: auto;
}