@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.background-container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/background-galaxia.jpg");
    background-size: cover;
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
}

.logo-bank{
    margin:auto;
    margin-bottom: 10px;
    width: 150px;
    padding: 5px;
}

.card-container{
    margin: 0 auto;
    padding: 10px;
    width: 25rem;
    height: 21rem;
    position: static;
    border-radius: 30px;
    display: grid;
    justify-content: center;
    align-content: center;
}

.glass-effect{
    background-color: rgba(255, 255, 255, 0.364);
    backdrop-filter: blur(4rem);
    -webkit-backdrop-filter: blur(4rem);;
}

.container-input{
    width: 18rem;
}

.container-btn{
    display: grid;
    justify-items: center;
}

.btn-primary{
    background-color: rgba(60, 38, 97, 0.553);
    border-color: rgba(60, 38, 97, 0.268);
    margin: 20px;
}

.btn-primary:hover{
    background-color: rgba(60, 38, 97, 0.268);
    border-color: rgba(60, 38, 97, 0.844);
    color: rgba(60, 38, 97);
}

.form-control{
    background-color: rgba(60, 38, 97, 0.053);
    border-color: rgba(60, 38, 97, 0.844);
    color: rgba(60, 38, 97, 0.946);
    height: 45px;
}

.form-control:focus{
    background-color: rgba(60, 38, 97, 0.553);
    border-color: rgba(60, 38, 97, 0.844);
    color: rgba(255, 255, 255);
}

.text-info-sp{
    /* text-align: center; */
    position: fixed;
    top: 14.4rem;
    right: 5.3rem;
}